.rte:after {
  clear: both;
  content: '';
  display: block;
}

.rte > p:first-child {
  margin-top: 0;
}

.rte > p:last-child {
  margin-bottom: 0;
}

.rte table {
  table-layout: fixed;
}

@media screen and (min-width: 750px) {
  .rte table td {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
}

.rte img {
  height: auto;
  max-width: 100%;
  border: var(--media-border-width) solid rgba(var(--color-foreground), var(--media-border-opacity));
  border-radius: var(--media-radius);
  box-shadow: var(--media-shadow-horizontal-offset) var(--media-shadow-vertical-offset) var(--media-shadow-blur-radius) rgba(var(--color-shadow), var(--media-shadow-opacity));
  margin-bottom: var(--media-shadow-vertical-offset);
}

.rte ul {
  padding-left: 2rem;
}

.rte li {
  list-style: inherit;
}

.rte li:last-child {
  margin-bottom: 0;
}

.rte a {
  color: rgba(var(--color-link), var(--alpha-link));
  text-underline-offset: 0.3rem;
  text-decoration-thickness: 0.1rem;
  transition: text-decoration-thickness var(--duration-short) ease;
}

.rte a:hover {
  color: rgb(var(--color-link));
  text-decoration-thickness: 0.2rem;
}

.rte blockquote {
  display: inline-flex;
}

.rte blockquote > * {
  margin: -0.5rem 0 -0.5rem 0;
}

.image-with-text__text.rte.body {
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.image-with-text__media.image-with-text__media--adapt.gradient.color-inverse.global-media-settings.media img {
  padding: 5rem;
}

.image-with-text:not(.image-with-text--overlap) .image-with-text__media-item > *,
.image-with-text:not(.image-with-text--overlap) .image-with-text__text-item > * {
  border: none;
}

.image-with-text.image-with-text--no-overlap.page-width.isolate.collapse-corners.section-template--15444036550795__3a805ced-ec29-4040-9cc8-4ee2adaefbc4-padding {
  padding: 0 !important;
  margin: 0;
}

.image-with-text.image-with-text--no-overlap.page-width.isolate.collapse-corners.section-template--15444036550795__16e9d594-6b5a-4d07-a6f0-872a7dd8af6a-padding {
  padding: 0 !important;
  margin: 0;
}

.button.button--primary {
  background-color: #87DE87;
  color: #121212;
  font-weight: bold;
  --shadow-opacity: none;
  --shadow-visible: none;
  --border-offset: none;
}

.button:disabled,
.button[aria-disabled="true"],
.button.disabled,
.customer button:disabled,
.customer button[aria-disabled="true"],
.customer button.disabled {
  opacity: 1 !important;
}

#Slider-template--15444036550795__fa2b77bc-936d-4778-9f80-fac2710d9482 {
  padding: 3rem;
  font-size: 1.5rem;
}

#ImageWithText--template--15444036550795__3a805ced-ec29-4040-9cc8-4ee2adaefbc4 {
  padding-top: 10rem;
}

@media (min-width:750px) and (max-width:925px) {
  .multicolumn .page-width {
    padding: 0 13rem !important;
  }
}

.slider-mobile-gutter.page-width.mobile-text-below {
  padding-top: 5rem;
}